[Desktop Entry]
Encoding=UTF-8
Exec=kreversi -caption "%c"
Name=KReversi
Name[x-test]=xxKReversixx
Type=Application
DocPath=kreversi/index.html
GenericName=Reversi Board Game
GenericName[fr]=Jeu de plateau Reversi
GenericName[x-test]=xxReversi Board Gamexx
Terminal=false
Icon=kreversi
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;BoardGame;
