[Desktop Entry]
Exec=kreversi %i %m -caption "%c"
Name=KReversi
Name[af]=Kreversi
Name[be]=Рэверсі
Name[bn]=কে-রিভার্সি
Name[ca]=Reversi
Name[eo]=Renverso
Name[hi]=के-रिवर्सी
Name[is]=Viðsnúningur
Name[ne]=केडीई रिभर्सी
Name[pa]=ਕੇ-ਰੀਵਰਸੀ
Name[pl]=Reversi
Name[sv]=Kreversi
Name[ta]=Kரிவர்ஸி
Name[tg]=KРеверси
Name[th]=หมากหนีบ - K
Name[zh_TW]=KReversi 黑白棋
Type=Application
DocPath=kreversi/index.html
GenericName=Reversi Board Game
GenericName[be]=Настольная гульня ў рэверсі
GenericName[bg]=Игра на дъска
GenericName[bn]=ছককেন্দ্রিক খেলা রিভার্সি
GenericName[br]=Ur c'hoari taolenn Reversi
GenericName[bs]=Igra s pločom
GenericName[ca]=Joc de taula Reversi
GenericName[cs]=Desková hra Reversi
GenericName[cy]=Gêm Fwrdd Reversi
GenericName[da]=Reversi brætspil
GenericName[de]=Reversi Brettspiel
GenericName[el]=Επιτραπέζιο παιχνίδι Reversi
GenericName[eo]="Renverso"-Tabuloludo
GenericName[es]=Juego de tablero Reversi
GenericName[et]=Lauamäng Reversi
GenericName[eu]=Reversi mahai-jokoa
GenericName[fa]=بازی Reversi Board
GenericName[fi]=Othello
GenericName[fr]=Jeu de plateau Reversi
GenericName[he]=רברסי, משחק לוח
GenericName[hr]=Reversi igra na ploči
GenericName[hu]=Reversi
GenericName[is]=Reversi borðleikur
GenericName[it]=Reversi, gioco da tavolo
GenericName[ja]=リバーシゲーム
GenericName[km]=ល្បែង​ក្ដារ Reversi
GenericName[ko]=리버시 보드 게임
GenericName[lt]=Reversi stalo žaidimas
GenericName[lv]=Reversā galda spēle
GenericName[mk]=Игра на табла Reversi
GenericName[nb]=Brettspillet reversi
GenericName[nds]=Reversi-Brettspeel
GenericName[ne]=रिभर्सी बोर्ड खेल
GenericName[nl]=Reversi-bordspel
GenericName[nn]=Brettspelet reversi
GenericName[pl]=Gra planszowa Reversi
GenericName[pt]=Jogo de Tabuleiro Reversi
GenericName[pt_BR]=Jogo de tabuleiro como Reversi
GenericName[ru]=Реверси
GenericName[se]=Duolbbášspeallu reversi
GenericName[sk]=Stolová hra Reversi
GenericName[sl]=Namizna igra Reversi
GenericName[sr]=Игра на табли Reversi
GenericName[sr@Latn]=Igra na tabli Reversi
GenericName[sv]=Othello brädspel
GenericName[ta]=ரிவர்சி பலகை விளையாட்டு
GenericName[uk]=Гра на дошці (реверсі)
GenericName[wa]=Djeu d' platea Reversi
GenericName[zh_TW]=黑白棋棋盤遊戲
Terminal=false
Icon=kreversi
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Game;BoardGame;
