<!DOCTYPE kpartgui>
<kpartgui name="kreversi" version="2">

<MenuBar>
  <Menu name="game"><text>&amp;Game</text>
    <Action name="new_game" />
    <Action name="hint" />
    <Action name="demo" />
    <Action name="quit" />
  </Menu>
  <Menu name="edit"><text>&amp;Edit</text>
    <Action name="undo" />
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
    <Action name="choose_bkgnd" />
  </Menu>
</MenuBar>

<ToolBar name="mainToolBar"><text>Main Toolbar</text>
  <Action name="new_game" />
  <Action name="undo" />
  <Action name="hint" />
  <Action name="demo" />
</ToolBar>
</kpartgui>
