[KGameTheme]
VersionFormat=1
Name=KReversi Default Theme
Name[x-test]=xxKReversi Default Themexx
FileName=default_theme.svgz
Author=Mauricio Piacentini
